/* projects.js */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

label{
    color: whitesmoke !important;
}

.container-card{
    width: 100%;
    height: 100%;
    background-color: #1b1c1df5;
}

.header-c{
    display: flex;
    width: 100%;
    height: 12vh;
    z-index: 10;
    background-color: #1c1c1dfb;
}

.heading-c{
    width:80%;
    padding-left: 2%;
    text-align:left;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    color: whitesmoke;
}
.addCard{
    width: 10%;
    align-self: center;
    color: whitesmoke;
}

.cardBox{
    height: 88vh;
    overflow-y: scroll;
    /* border: salmon solid 2px; */
}

.cardBox2{
    height: 100%;
    width :100%;
    overflow-y: scroll;
    background: transparent;
    /* border: salmon solid 2px; */
}

.card-green-c{
    /* background-color: rgba(255, 255, 255, 0.473) !important; */
    border-bottom : solid rgb(93, 230, 93) 2px !important;
}

.card-red-c{
    /* background-color: rgba(255, 255, 255, 0.473) !important; */
    border-bottom : solid red 2px !important;
}

.card-cards{
    text-align: justify;
    margin: 2%;
    /* color: aliceblue; */
}

.card-header-c{
    height: 12%;
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.4em;
    color: rgba(48, 47, 47, 0.938);
}

.card-content-extra-c{
    color: rgb(110, 109, 109);
}

.edit-delete-c{
    width: 45%;
}

/* add-edit project  */
.form{
    margin: 10px;
    color: #000;
}

.addCardPopUp {
    /* background-color: aliceblue; */
    background: rgba(0, 0, 0, 0.363);
    backdrop-filter: saturate(180%) blur(10px);
    width:50vw;
    height: 80vh;
    position: fixed;
    left:25vw;
    top:10vh;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    color: black;
}

.editCardPopUp{
    /* background-color: aliceblue; */
    background: rgba(0, 0, 0, 0.363);
    backdrop-filter: saturate(180%) blur(10px);
    width:50vw;
    height: 80vh;
    position: fixed;
    left:25vw;
    top:10vh;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
}

.form-popup-c{
    padding: 5%;
    color: black;
}

.button-close-c{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    height: 10%;
}

.flex-div{
    display: flex;
    justify-content: space-evenly;
}
/* ProjectPage.js */
.container-c {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0%;
    /* border : solid rgb(219, 22, 22) 2px; */
}

.sidebar{
    width: 113px;
    height: 100%;
}

.cardsContainer{
    width: 100%;
    /* border: solid blueviolet 5px; */
}

.footer{
    position: static;
    top: 10px;
    background-color: #19191a;
    border-top: whitesmoke;
    color: whitesmoke;
}

/* menu.js */

/* AddProject.js */
.addcard{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}