/* lists.js */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.container-list{
    width: 100%;
    height: 100%;
    /* background-color: #1b1c1df5; */
}

.grid-l{
    background: transparent;
}

.header{
    display: flex;
    width: 100%;
    height: 12vh;
    z-index: 1;
    background-color: #1a1a1afb;
}

.heading{
    width:80%;
    padding-left: 2%;
    text-align:left;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    color: whitesmoke;
}
.addList{
    width: 10%;
    align-self: center;
    color: whitesmoke;
}

.listBox{
    height: 88vh;
    overflow-y: scroll;
}

.card-green{
    /* background-color: rgba(255, 255, 255, 0.473) !important; */
    border-bottom : solid rgb(93, 230, 93) 2px !important;
}

.card-red{
    /* background-color: rgba(255, 255, 255, 0.473) !important; */
    border-bottom : solid red 2px !important;
}

.list-cards{
    text-align: justify;
    margin: 2%;
    color: rgba(0, 0, 0, 0.795);
}

.card-header{
    height: 12%;
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.4em;
}

.card-content-extra{
    color: rgb(110, 109, 109);
}

.edit-delete{
    width: 45%;
}

/* ListPage.js */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0%;
    /* border : solid rgb(219, 22, 22) 2px; */
}

.sidebar{
    width: 113px;
    height: 100%;
}

.listsContainer{
    width: 100%;
    /* border: solid blueviolet 5px; */
}

.footer{
    position: static;
    top: 10px;
    background-color: #19191a;
    border-top: whitesmoke;
    color: whitesmoke;
}

/* addList.js */
.addlist{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.form{
    margin: 10px;
}

.addListPopUp {
    /* background-color: aliceblue; */
    background: rgba(0, 0, 0, 0.363);
    backdrop-filter: saturate(180%) blur(10px);
    width:50vw;
    height: 45vh;
    position: fixed;
    left:25vw;
    top:25vh;
    display: flex;
    /* color :whitesmoke; */
}

.form-popup{
    width : 90%;
    padding: 10% 0.5% 10% 5%;
    /* color: whitesmoke; */
}

.button-close{
    background: none;
	color: inherit;
	border: none;
	padding-top: 1%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    height: 10%;
}

.flex-div{
    display: flex;
    justify-content: space-evenly;
}

.flex-div-2{
    display: flex;
}